    
   /* styles.css */
   body {
    
    image-resolution: 10px 20px;   
}

.divider:after,.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;            }
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
.tw-btn {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: white;
}

.google-btn {
    background-color: #ea4335;
    border-color: #ea4335;
    color: white;
}

.mb-4 {
    margin-bottom: 0.5rem !important;
}
